

.side_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100vh;
  color:#F2F4F8;
  letter-spacing: 1px;
  h2 {
    font-size: 42px;
    margin: 0;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 76px;
    position: relative;
    font-weight:400 ;
    span {
      font-size: 28px;
      font-weight: 400;
      position: absolute;
    }
  }
  h4 {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
  }
  &__countdown {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    p {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      span {
        margin-top: 5px;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
